.body {
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;

}

/*-----Headerpart----*/
.container-header {
    margin: 80px 40px;
    background-color: black;
    border: 0;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 50px;

}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 50%;
}

#flex-left {
    align-items: center;
    width: 100%;
    padding-left: 50px;
    margin-top: 50px;


}

.heading {
    color: whitesmoke;
    font-size: 700;
    padding-top: 50px;
}

.details-heading {
    color: white;
    font-display: center;

}

.button {
    background-color: rgb(238, 16, 16);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 200px;

}

#flex-right {
    width: 10%;
    padding-left: 20px;

}

#flex-right img {
    margin-right: 20px;
}



.part-2 {
    height: 500px;
    width: 300px;
}

/*Heading part End....*/

/* section part Start...*/
.container-body {
    margin-top: 50px;

}

.body-separate {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.card-left {
    height: 300px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
}

#box-1 {
    margin-top: 10px;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid;
    font-size: 200;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}

#box-2 {
    margin-top: 30px;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}

#box-3 {
    margin-top: 50px;
    padding: 20px 10px;
    background-color: red;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: 500;

}

.card-right {
    display: flex;
    justify-items: center;

    padding: 5px;
    width: 5px;
    margin-left: 50px;
}

.card-box-1 {

    border: 1px solid;
    padding: 2px;
    font-size: 15px;
    text-align: center;

}

.card-box-2 {

    border: 1px solid;
    padding: 2px;
    font-size: 15px;
    text-align: center;
}


.card-box-3 {

    border: 1px solid;
    padding: 2px;
    font-size: 15px;
    text-align: center;
}

.card-box-3 a {
    border: 1px solid;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
}

.card-box-3 p {
    font-size: larger;

}


/* Section Part-End*/
/*start footersection---*/


.footer {
    background-color: black;
    margin: 50px 50px;
    padding: 100px 50px;

}

.footer-top h1 {
    color: white;
    text-align: center;

}

hr {
    margin-right: 50px;
    margin-left: 50px;
    color: aqua;
}

.footer-down {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.footer-down a {
    text-decoration: none;
    color: white;
}